In [20]:
import pandas as pd
from tqdm import tnrange

In [21]:
df = pd.read_csv('C:/Users/user/Desktop/73품목별 자료추출/0. 73품목별 자료추출 2000개 완료.csv',encoding='CP949')

In [22]:
df2 = df[df['a_prices_prdlst_nm'] == '콩']

In [23]:
from konlpy.tag import Hannanum,Kkma,Komoran,Okt
hannanum = Hannanum()
kkma = Kkma()
komoran = Komoran(userdic='/tmp/dic.txt')
okt = Okt()

In [24]:
A = list(df2['goods_nm'])
B = []
for i in tnrange(len(A)):
    B.append(komoran.nouns(A[i]))

HBox(children=(IntProgress(value=0, max=2000), HTML(value='')))

In [25]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [26]:
te = TransactionEncoder()
te_ary = te.fit(B).transform(B)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)

In [27]:
frequent_itemsets

    support itemsets
0    0.1295     (국내)
1    0.1455     (국산)
2    0.1030     (메주)
3    0.1475     (백태)
4    0.1210      (산)
5    0.2335     (서리)
6    0.1100     (잡곡)
7    0.3970      (콩)
8    0.2565      (태)
9    0.2325  (태, 서리)
10   0.1095   (태, 콩)

In [28]:
association_rules(frequent_itemsets, metric="lift", min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(태),(서리),0.2565,0.2335,0.2325,0.906433,3.881939,0.172607,8.191969
1,(서리),(태),0.2335,0.2565,0.2325,0.995717,3.881939,0.172607,173.607250
2,(태),(콩),0.2565,0.3970,0.1095,0.426901,1.075316,0.007669,1.052173
3,(콩),(태),0.3970,0.2565,0.1095,0.275819,1.075316,0.007669,1.026677